*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.parent_div{
    width:100vw;
    height:100vh;
        background: linear-gradient(90deg, rgba(1,1,4,0.9391106784510679) 12%, rgba(5,0,3,1) 37%,
         rgba(55,47,48,1) 61%, rgba(15,14,14,1) 79%, rgba(68,62,62,1) 100%);

    display:flex;
    justify-content:center;
    align-items:center;
   
}

.child_div{
    width:60vw;
    height:60vh;
    background-color:white;
    border:2px solid white;
    border-radius: 2%;
    padding:1%;

}


.subchid
{
    width:30vw;
    padding:2%;
    padding-top:2%;
}

.vl {
    position: absolute;
    border-left: 6px solid gray;
    height:60vh ;
    left: 50%;
    bottom: 20vh;

  }
  
  .Lform{
      width:28vw;
      margin-top: 2%;
  }
  .heading{
   
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 30px;
        letter-spacing: 0.2px;
        word-spacing: -3.4px;
        color: rgba(0, 0, 0, 0.468);
        font-weight: 700;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: normal;
        text-transform: none;
        
  }
  .otp{
      justify-content:center;
      align-items:center;
  }